

#top {
    animation-name: topanim;
    animation-duration: 1500ms;
    animation-timing-function: ease;
}

@keyframes topanim {
    0% {
        transform: translateY(-450px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#about {
    animation-name: aboutanim;
    animation-duration: 1500ms;
    animation-timing-function: ease;
}

@keyframes aboutanim {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}